extends ../layout

block content
  h2 Detalle del Pedido
  ul
    li strong ID: #{pedido.id}
    li strong Cliente: #{pedido.cliente}
    li strong Descripción: #{pedido.descripcion}
    li strong Precio: #{pedido.precio || '-'}
    li strong Plataforma: #{pedido.plataforma}
    li strong ID Empleado: #{pedido.idEmpleado}
  a.btn.btn-secondary.mt-3(href="/pedidos") Volver
