extends ../layout

block content
  h2 Detalle del Pedido
  ul
    li ID: #{pedido.id}
    li Cliente: #{pedido.cliente}
    li Descripción: #{pedido.descripcion}
    li Precio: #{pedido.precio || '-'}
    li Plataforma: #{pedido.plataforma}
    li ID Empleado: #{pedido.idEmpleado}
  a.btn.btn-secondary.mt-3(href="/pedidos") Volver
