extends ../layout

block content
  h2 Detalle del Pedido
  ul
    li ID: #{pedido._id}
    li Cliente: #{pedido.cliente ? pedido.cliente.nombre + " (" + pedido.cliente.telefono + ")" : '-'}
    li Descripción: #{pedido.descripcion}
    li Precio: #{pedido.precio || '-'}
    li Plataforma: #{pedido.plataforma}
    li Empleado: #{pedido.idEmpleado ? (pedido.idEmpleado.rol ? `${pedido.idEmpleado.rol} (${pedido.idEmpleado.area})` : pedido.idEmpleado) : '-'}
  a.btn.btn-secondary.mt-3(href="/pedidos") Volver
