extends ../layout

block content
  .d-flex.justify-content-between.align-items-center.mb-3
    h2.mb-0 Lista de Pedidos
    a.btn.btn-success(href="/pedidos/agregar") Agregar Pedido
  table.table.table-striped
    thead
      tr
        th ID
        th Cliente
        th Descripción
        th Precio
        th Plataforma
        th ID Empleado
        th Acciones
    tbody
      each pedido in pedidos
        tr
          td= pedido.id
          td= pedido.cliente
          td= pedido.descripcion
          td= pedido.precio || '-'
          td= pedido.plataforma
          td= pedido.idEmpleado
          td
            a.btn.btn-sm.btn-info(href=`/pedidos/${pedido.id}`) Ver
