extends ../layout

block content
  .d-flex.justify-content-between.align-items-center.mb-3
    h2.mb-0 Lista de Pedidos
    a.btn.btn-success(href="/pedidos/agregar") Agregar Pedido

  .table-responsive
    table.table.table-striped.table-sm(style="table-layout: fixed;")
      thead
        tr
          th(style="width: 70px;") Cliente
          th(style="width: 180px;") Descripción
          th(style="width: 70px;") Precio
          th(style="width: 120px;") Plataforma
          th(style="width: 150px;") Empleado
          th.acciones(style="width: 130px;") Acciones
      tbody
        each pedido in pedidos
          tr
            td(style="vertical-align: middle;")= pedido.cliente ? `${pedido.cliente.nombre}` : '-'
            td(style="vertical-align: middle; word-break: break-word;")= pedido.descripcion
            td(style="vertical-align: middle;")= pedido.precio || '-'
            td(style="vertical-align: middle;")= pedido.plataforma ? `${pedido.plataforma.nombre}` : '-'
            td(style="vertical-align: middle; word-break: break-word;")= pedido.idEmpleado ? (pedido.idEmpleado.rol ? `${pedido.idEmpleado.rol} (${pedido.idEmpleado.area})` : pedido.idEmpleado) : '-'
            td.acciones
              .d-flex.align-items-center.justify-content-center(style="height:100%; gap:0.25rem; flex-wrap:nowrap; overflow:hidden;")
                a.btn.btn-sm.btn-light(href=`/pedidos/${pedido._id}` title="Ver") 
                  i(class="bi-eye fs-5")
                a.btn.btn-sm.btn-light(href=`/pedidos/${pedido._id}/editar` title="Editar") 
                  i(class="bi-pencil fs-5")
                a.btn.btn-sm.btn-light(href=`/pedidos/${pedido._id}/borrar` title="Borrar") 
                  i(class="bi-trash fs-5")
