extends layout

block content
  .row.justify-content-center
    .col-md-5
      .card.shadow-sm
        .card-body
          h3.text-center.mb-3 Crear Cuenta

          include flashMessages

          form(action="/auth/register" method="POST")
            .mb-3
              label.form-label(for="username") Usuario
              input.form-control(
                type="text"
                name="username"
                id="username"
                required
              )

            .mb-3
              label.form-label(for="email") Email
              input.form-control(
                type="email"
                name="email"
                id="email"
                required
              )

            .mb-3
              label.form-label(for="password") Contraseña
              input.form-control(
                type="password"
                name="password"
                id="password"
                required
              )

            button.btn.btn-success.w-100(type="submit") Registrarse

          .text-center.mt-3
            a(href="/auth/login") Ya tengo cuenta
