extends ../layout

block content
  h2.mb-3 Editar Plataforma

  form(action=`/plataformas/${plataforma._id}?_method=PUT` method="POST")

    .mb-3
      label.form-label(for="tipo") Nombre
      input.form-control(type="text" name="nombre" id="nombre" value=plataforma.nombre required)

    .mb-3
      label.form-label(for="tipo") Tipo
        select.form-select(name="tipo" id="tipo" required)
          option(value="" disabled) Selecciona un tipo
          option(value="Externa" selected=plataforma.tipo=="Externa") Externa
          option(value="Propia" selected=plataforma.tipo=="Propia") Propia
          option(value="Teléfono" selected=plataforma.tipo=="Teléfono") Teléfono
          option(value="Presencial" selected=plataforma.tipo=="Presencial") Presencial

    .mb-3
      label.form-label(for="comisionPorcentaje") Comisión (%)
      input.form-control(type="number" step="0.01" min="0" max="100" name="comisionPorcentaje" id="comisionPorcentaje" value=plataforma.comisionPorcentaje required)

    .d-flex.gap-2
      button.btn.btn-primary(type="submit") Guardar cambios
      a.btn.btn-secondary(href="/plataformas") Cancelar
