extends ../layout.pug

block content
    // T칤tulo con 칈cono y clase de margen
    h2.mb-4 游뚴 Listado de Plataformas
    
    // Bot칩n principal con 칈cono
    a.btn.btn-success.mb-3(href="/plataformas/agregar")
        i.bi.bi-plus-circle.me-2
        | Nueva Plataforma
    
    if plataformas.length
        // A침adimos .table-hover (ilumina filas al pasar el mouse) y .table-sm (tabla m치s compacta)
        table.table.table-striped.table-hover.table-sm 
            thead
                tr
                    th Nombre
                    th Tipo
                    th Comisi칩n (%)
                    th Creado
                    th Acciones
            tbody
                each plataforma in plataformas
                    tr
                        td= plataforma.nombre
                        td= plataforma.tipo
                        td= plataforma.comisionPorcentaje + '%'
                        td= new Date(plataforma.createdAt).toLocaleDateString()
                        td 
                            // Bot칩n VER/Detalle: Usamos 칤cono bi-eye
                            a.btn.btn-sm.btn-info.me-2(href=`/plataformas/${plataforma._id}`)
                                i.bi.bi-eye
                            
                            // Bot칩n EDITAR: Usamos 칤cono bi-pencil
                            a.btn.btn-sm.btn-warning.me-2(href=`/plataformas/${plataforma._id}/editar`) 
                                i.bi.bi-pencil

                            // Bot칩n ELIMINAR/BORRAR: Asumimos que esta acci칩n va en un formulario POST/DELETE
                            // Si usas un formulario, se ver칤a as칤:
                            form.d-inline(action=`/plataformas/${plataforma._id}?_method=DELETE`, method="POST")
                                button.btn.btn-sm.btn-danger(type="submit")
                                    i.bi.bi-trash
    else
        p.alert.alert-info No hay plataformas registradas a칰n. Puedes agregar una con el bot칩n de arriba.